@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

.Container1 {
  background-color: black;
  height: 100vh;
  
}
.Container1 .Header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 30px;
}
.Container1 .Header .Name {
  color: red;
  width: 10%;
}
.Container1 .Header .Links {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  
}
.Container1 .Header .Links p {
  transition: ease 0.5s all;
}
.Container1 .Header .Links:hover p {
  filter: blur(1px);
}
.Container1 .Header .Links p:hover {
  
  border-bottom: white 1px solid;
  filter: blur(0px);
}

.Container1 .Contant {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.Container1 .Contant .Infos h1{
  font-weight: lighter;
}
.Container1 .Contant .Infos h1 span{
  font-weight: bold;
}
.Container1 .Contant .Infos p{
  color: rgba(255, 255, 255, 0.541);
}
.Container1 .Contant .ProfilePicture {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
}

@media (max-width:800px) {
  .Container1 .Header {
    display: block;
  }
  .Container1 .Header .Name {

    width: 100%;
    margin-bottom: 10px;
  }
  .Container1 .Header .Links {
    width: auto;
  }
}
@media (max-width:790px) {
  .Container1 .Header .Links {
    display: block;
  }
  .Container1 .Header .Links p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width:800px) {
  .Container1 .Header {
    display: block;
  }
  .Container1 .Header .Name {

    width: 100%;
    margin-bottom: 10px;
  }
  .Container1 .Header .Links {
    width: 100%;
  }
}

.About {
  background-color: bisque;
  height: 50vh;
}