@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

.container1 {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 .content {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 80px;
  padding-right: 80px; */
  width: 90%;
}
.container1 .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.container1 .content .infos{
  width: 60vh;
}

.container1 .content .infos h1{
  font-weight: lighter;
  font-size: 50px;
}
.container1 .content .infos .socialmidia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.container1 .content .infos .socialmidias{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.container1 .content .infos .socialmidia .socialmidia-effect{
  background-color: red;
  height: 0.5vh;
  width: 50%;
  border-radius: 5vh;
}
.container1 .content .infos .socialmidia a{
  text-decoration: none;
  color: white;
  font-size: 35px;
}
.container1 .content .infos h1 span{
  font-weight: bold;
}
.container1 .content .infos p{
  color: rgba(255, 255, 255, 0.541);
}
.container1 .content .profile-picture {
  height: 50vh;
  width: 50vh;
  object-fit: cover;
}

@media (max-width:820px) {
  .container1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .container1 .content {
    
    width: 100%;
  }
  .container1 .content .row{
    flex-direction: column;
    width: 100%;
  }
  .container1 .content .infos{
    order: 1;
  }
  .container1 .content .Picture{
    order: -1;
  }
  .container1 .content .infos .profile-picture{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container1 .content .infos .socialmidia{
    display: block;
    padding-top: 15px;
    width: 50%;
  }
  .container1 .content .infos .socialmidia .socialmidia-effect{
    display: none;
  }
  .container1 .content .infos h1{
    font-size: 40px;
  }
  
}

.about {
  background-color: #212121;
  height: 50vh;
}