.Container1 {
    background-color: rgb(0, 0, 0);
    height: 85vh;
}

#profilePicture{
    height: 45vh;
    width: 45vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    /* scale: 1.2; */
}

.Container2 {
    background-color: #18191B;
    height: 50vh;
}